<div class="row text-center">
    <div class="container">
        <div class="row" align="center">
            
        </div>
        <div class='btn-toolbar'>

           <button class="page-scroll btn btn-xl" ng-click= downloads7()>7 days</button>
            <button class="page-scroll btn btn-xl" ng-click= downloads15()>15 days</button>
            <button class="page-scroll btn btn-xl" ng-click= downloads30()>30 days</button>
        

        </div>
    </nav>
        <h2 class="section-heading">Download Reports</h2>
      <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         download="Download_report.csv">
        <i class="glyphicon glyphicon-new-window"></i> &#160;Export
      </a>
        <table ng-table="vm.tableParams" class="table table-bordered" export-csv="csv" separator=";">
            <tr ng-repeat="x in result">
                <td title="'Building Name'" >
                    {{x.coll}}</td>
                <td title="'Downloads'">
                    {{x.roww}}</td>
            </tr>
        </table>
    </div>
</div>