<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Date Picker</h2>

    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section>
<datepicker date-format="yyyy-MM-dd">
  <input ng-model="date" type="text"/>
  <button class = "btn-xl" ng-click= "daterange(date)"></button>
</datepicker>
    <!-- Start of Container -->
   <!--  <div class="container">
    <input type="text" id="datepicker">
    </div> -->
    <!-- End of Container -->
</section>
<!-- Main Section /-->
