extends layout

block content
  h1(align='center')= title
  p(align='center') Welcome to #{title}
  br
  br
  div
    table(width='100%' cellpadding="10", cellspacing="3", border="4" )
      thead
        tr
          - for key in keyy
            th=key
      tbody
        - each result in results
          tr
            - each key in keyy
              td(a, align='center')=result[key]
