doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/bower/src/bootstrap-table.css')
    script(type='text/javascript' src='/bower/src/bootstrap-table.js')
    script(type='text/javascript' src='/bower/jquery/dist/jquery.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type="text/css").
      table th tr {
        padding : 2px;
        }
    script(type='text/javascript').
      $(document).ready(function () {
          $('#example').DataTable();
      });
  body
    block content
