<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="dnbi">DailyNinja </a>
        </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref=".downloads" >Downloads Report</a></li>
        <li><a ui-sref=".subscriptions" >Subscriptions Report</a></li>
        <li><a ui-sref=".vendorGrowth" >Vendor-Growth Report</a></li>
    </ul>
    </div>
    </nav>
</div>

<div class="container">

<div ui-view></div>        
</div>