<div class="container">
    <nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="partners">DailyNinja </a>
        </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref=".products" >Product Not Found</a></li>
        <li><a ui-sref=".outOfStock" ng-click=outofStock()>Out Of Stock</a></li>
        <li><a ui-sref=".townessCurrentInventory" ng-click=townessCurrentInventory() >Towness Current Inventory </a></li>
    </ul>
    </div>
    </nav>
</div>

<div class="container">
<div ui-view></div>        
</div>