<div class="row text-center">
<h4>Stock Prediction</h4>
<div class="container">
        <div class="row">
            <div class="col-md-4" align="left">
                <select class ="form-control input-lg" ng-model="selectedCategory"
                        ng-init="selectedCategory = Categories[0]" 
                        ng-options="item.category for item in Categories">
                    <option value="">Select Category</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-right: 0px;">
            <input date-range-picker style="margin-right: -115px; margin-left: -15px; " placeholder= "Click to Enter Date Range" class="input-lg form-control date-picker" max="today" type="text" ng-model="date" />
        </div>
        <div class="col-md-1">
        <button class="page-scroll btn btn-lg" style="margin-left:-15px;" ng-click=predict(selectedCategory,date)>Check</button>
        </div>
    </div>
    </div>
<br>
      <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         download="prediction_report.csv">
        <i  align="center" class="glyphicon glyphicon-new-window"></i> &#160;Export
      </a>
        <table ng-table-dynamic="tableParams with columns" show-filter="true" class="table table-striped table-bordered" export-csv="csv" separator=",">
            <tr ng-repeat="x in orderedData_stockpre">
                <!-- <td align="center" title="'product_parent_id'" filter="{ product_parent_id: 'text'}">
                    {{x.product_parent_id}}</td>
                <td align="center" title="'product'" filter="{ product: 'text'}" sortable="'product'">
                    {{x.product}}</td> -->
                <td  ng-repeat= "col in columns" align="center">
                {{ x[col.field] }}</td >
            </tr>
           
        </table>
    </div>
    </div>
    </div>

